.popoverContent {
  border-radius: 4px;
  padding: 16px;
  width: 260px;
  background-color: #fff;
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;

  color: #24292f;

  display: flex;
  flex-direction: column;
  gap: 8px;

  --violet1: hsl(255, 65%, 99.4%);
  --violet2: hsl(252, 100%, 99%);
  --violet3: hsl(252, 96.9%, 97.4%);
  --violet4: hsl(252, 91.5%, 95.5%);
  --violet5: hsl(252, 85.1%, 93%);
  --violet6: hsl(252, 77.8%, 89.4%);
  --violet7: hsl(252, 71%, 83.7%);
  --violet8: hsl(252, 68.6%, 76.3%);
  --violet9: hsl(252, 56%, 57.5%);
  --violet10: hsl(251, 48.1%, 53.5%);
  --violet11: hsl(250, 43%, 48%);
  --violet12: hsl(254, 60%, 18.5%);
}
.popoverContent:focus {
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0px 10px 20px -15px, 0 0 0 2px var(--violet7);
}
.popoverContent[data-state='open'][data-side='top'] {
  animation-name: slideDownAndFade;
}
.popoverContent[data-state='open'][data-side='right'] {
  animation-name: slideLeftAndFade;
}
.popoverContent[data-state='open'][data-side='bottom'] {
  animation-name: slideUpAndFade;
}
.popoverContent[data-state='open'][data-side='left'] {
  animation-name: slideRightAndFade;
}

.popoverArrow {
  fill: #fff;
}

.popoverClose {
  all: unset;
  position: absolute;
  top: 5px;
  right: 5px;
  height: 25px;
  width: 25px;
  border-radius: 100%;
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--violet11);
  cursor: pointer;
}
.popoverClose:hover {
  background-color: var(--violet4);
}
.popoverClose:focus {
  box-shadow: 0 0 0 2px var(--violet7);
}
