.movieSearchOptions {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.mainOptions {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: var(--gap);
}

.field {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5em;
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.disabled * {
  cursor: not-allowed !important;
}

.booleanField {
  flex: 0;
}

.select {
  width: 100%;
  min-height: 42px;
}

.input {
  all: unset;
  box-sizing: border-box;
  border-radius: 4px;
  background: hsl(0, 0%, 100%);
  font-size: 13px;
  border: 1px solid hsl(0, 0%, 80%);
  transition: all 100%;
  color: #24292f;
}

.input::selection {
  background-color: #b5d7ff;
}

.input:hover {
  border-color: hsl(0, 0%, 70%);
}

.input:focus {
  border-color: #2684ff;
  box-shadow: 0 0 0 1px #2684ff;
  outline: none;
}

.textInput {
  width: 100%;
  padding: 11px 16px 11px 34px;
}

.field label {
  font-size: 15px;
  font-weight: 600;
}

.searchInput {
  position: relative;
  width: 100%;
  min-height: 42px;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}

.searchIcon {
  position: absolute;
  width: 18px;
  height: 18px;
  top: calc(50% - 9px);
  left: 10px;
  color: #31363b;
}

.clearInput {
  position: absolute;
  top: calc(50% - 18px);
  right: 0;
  width: 36px;
  height: 36px;
  color: hsl(0, 0%, 80%);
  padding: 8px;
  transition: color 150ms;
  cursor: pointer;
}

.clearInput:hover {
  color: hsl(0, 0%, 60%);
}

.checkbox {
  all: unset;
  box-sizing: border-box;

  width: 21px;
  height: 21px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;

  background: hsl(0, 0%, 100%);
  font-size: 13px;
  border: 1px solid hsl(0, 0%, 80%);
  transition: all 100%;
}

.checkbox:hover {
  border-color: hsl(0, 0%, 70%);
}

.checkbox:focus {
  border-color: #2684ff;
  box-shadow: 0 0 0 1px #2684ff;
  outline: none;
}

.checkboxIndicator {
  position: relative;
  top: 2px;
  color: #111;
}

.subOptions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: var(--gap);
}

.resetButton {
  margin-right: auto;
  padding: 8px;
  align-self: stretch;
}

.resetButton:not(.disabled) {
  cursor: pointer;
  border: 0 none;
  padding: 8px;
  border-radius: 4px;
}

.orderBy {
  min-width: 218px;
}

.layoutOptions {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.layoutOption {
  width: 32px;
  height: 32px;
  padding: 8px;
  border-radius: 4px;

  background: transparent;
  transition: all 150ms;
  cursor: pointer;
}

.layoutOption:hover:not(.selected) {
  background: var(--bg-color-1);
}

.selected {
  cursor: default;
  background: var(--fg-color-1);
  color: var(--bg-color);
}

.layoutButton {
  all: unset;
  display: block;
  line-height: 0;
}

.labelOrderBy {
  display: none;
}

.orderByField {
  flex: unset;
}

@media (max-width: 700px) {
  .movieSearchOptions {
    --gap: calc(max(8px, min(24px, 2vh)));
    margin-bottom: var(--gap);
  }

  .mainOptions {
    flex-direction: column;
  }

  .subOptions {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .layoutOptions {
    order: 4;
  }

  .resetButton {
    order: 3;
    margin: 0;
    align-self: center;
  }

  .labelOrderBy {
    display: block;
  }

  .orderByField {
    width: 100%;
  }

  .orderBy {
    width: 100%;
  }
}
