.movieSearchOptions {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.mainOptions {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.field {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5em;
}

.booleanField {
  flex: 0;
}

.select {
  width: 100%;
  min-height: 42px;
}

.input {
  all: unset;
  box-sizing: border-box;
  border-radius: 4px;
  background: hsl(0, 0%, 100%);
  font-size: 13px;
  border: 1px solid hsl(0, 0%, 80%);
  transition: all 100%;
  color: #24292f;
}

.input::selection {
  background-color: #b5d7ff;
}

.input:hover {
  border-color: hsl(0, 0%, 70%);
}

.input:focus {
  border-color: #2684ff;
  box-shadow: 0 0 0 1px #2684ff;
  outline: none;
}

.textInput {
  width: 100%;
  padding: 11px 16px 11px 34px;
}

.field label {
  font-size: 15px;
  font-weight: 600;
}

.searchInput {
  position: relative;
  width: 100%;
  min-height: 42px;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}

.searchIcon {
  position: absolute;
  width: 18px;
  height: 18px;
  top: calc(50% - 9px);
  left: 10px;
  color: #31363b;
}

.checkbox {
  all: unset;
  box-sizing: border-box;

  width: 21px;
  height: 21px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;

  background: hsl(0, 0%, 100%);
  font-size: 13px;
  border: 1px solid hsl(0, 0%, 80%);
  transition: all 100%;
}

.checkbox:hover {
  border-color: hsl(0, 0%, 70%);
}

.checkbox:focus {
  border-color: #2684ff;
  box-shadow: 0 0 0 1px #2684ff;
  outline: none;
}

.checkboxIndicator {
  position: relative;
  top: 2px;
  color: #111;
}
