.movieGrid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  align-items: stretch;
  justify-items: stretch;
  justify-content: center;
  margin-bottom: var(--gap-2);
  column-gap: var(--gap-w);
  row-gap: var(--gap-h);
}

.gridMovie {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75em;
}

.frame {
  position: relative;
  display: block;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 4px;
}

.poster {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.emptyPoster {
  aspect-ratio: 230 / 345;
  background-color: #dbdbdb;
  background-image: url('/images/image-not-found.svg');
  background-repeat: no-repeat;
  background-size: 75%;
  background-position: center center;
}

.title {
  font-weight: 500;
  font-size: 0.9rem;
}

.releaseYear {
  font-size: 0.75rem;
  white-space: nowrap;
  color: var(--fg-color-1);
}
