* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

:root {
  --bg-color: #fff;
  --bg-color-0: rgba(135, 131, 120, 0.15);
  --bg-color-1: rgb(247, 246, 243);
  --bg-color-2: rgba(135, 131, 120, 0.15);

  --fg-color: #24292f;
  --fg-color-1: #292d32;
  --fg-color-2: #31363b;
}

[data-theme='dark'] {
  --bg-color: #121212;
  --bg-color-0: rgb(71, 76, 80);
  --bg-color-1: rgb(63, 68, 71);
  --bg-color-2: rgba(135, 131, 120, 0.15);

  --fg-color: #fff;
  --fg-color-1: rgba(255, 255, 255, 0.85);
  --fg-color-2: rgba(255, 255, 255, 0.7);
}

/* [data-theme='dark'] ::selection {
  background-color: #0070f3;
  color: #fff;
} */

body {
  background: var(--bg-color);
  color: var(--fg-color);
  line-height: 1.3;
}
