* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

:root {
  --bg-color: #fff;
  --fg-color: #24292f;
}

[data-theme='dark'] {
  --bg-color: #121212;
  --fg-color: #fff;
}

[data-theme='dark'] ::selection {
  background-color: #0070f3;
  color: #fff;
}

body {
  background: var(--bg-color);
  color: var(--fg-color);
}
