.movie {
  --col-width: calc(min(232px, max(64px, 18vw)));
  --gap: calc(max(12px, 1.5vw));
  --gap-1: calc(var(--gap) / 2);
  --gap-2: calc(var(--gap) / 4);

  position: relative;
  display: flex;
  width: 100%;
  flex-direction: row;
  gap: var(--gap);
  padding: var(--gap);
  border-radius: 8px;

  background: var(--bg-color-2);
}

.backdropWrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  overflow: hidden;
  border-radius: 4px;
}

.backdrop {
  object-fit: cover;
  filter: blur(8px);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(185deg, transparent, #0a1016 95%),
    linear-gradient(to bottom, transparent, #0a1016 95%);
  border-radius: 4px;
}

[data-theme='light'] .backdropWrapper,
[data-theme='light'] .overlay {
  display: none;
}

.lhs {
  flex: 1;
  min-width: var(--col-width);
  max-width: var(--col-width);
}

.frame {
  position: relative;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 4px;
}

.poster {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.emptyPoster {
  aspect-ratio: 230 / 345;
  background-color: #dbdbdb;
  background-image: url('/images/image-not-found.svg');
  background-repeat: no-repeat;
  background-size: 75%;
  background-position: center center;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap);
}

.leftHeader {
  display: flex;
  flex-direction: column;
  gap: var(--gap-2);
  flex: 1;
}

.subHeader {
  display: flex;
  flex-direction: row;
  gap: var(--gap-1);
  flex-wrap: wrap;
}

.title {
  font-size: 2rem;
}

.releaseYear {
  white-space: nowrap;
  color: var(--fg-color-1);
}

.mpaaRating {
  white-space: nowrap;
  color: var(--fg-color-1);
}

.runtime {
  white-space: nowrap;
  color: var(--fg-color-1);
}

.body {
  display: flex;
  flex-direction: row;
  gap: var(--gap);
}

.lh {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.rh {
  min-width: var(--col-width);
  max-width: var(--col-width);
  display: flex;
  flex-direction: column;
  gap: var(--gap-1);
}

.imdbRating {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
}

.imdbStar {
  width: 2rem;
  height: 2rem;
  color: rgb(245, 197, 24);
  vertical-align: middle;
}

.imdbRatingValue0 {
  font-size: 1.1rem;
  color: var(--fg-color-2);
}

.imdbRatingValue1 {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--fg-color);
}

.imdbLogo {
  width: 48px;
  height: auto;
}

.imdbLogoLink {
  align-self: center;
}

.plot:not(.expanded) {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  line-clamp: 4;
}

.metadata {
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  align-items: center;
  gap: var(--gap-1);
}

.genres {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap-2);
}

.genre {
  padding: 5px 10px;
  background: rgba(255, 255, 255, 0.16);
  border-radius: 16px;
  white-space: nowrap;
  font-size: 15px;
  font-weight: 500;
  color: var(--fg-color-1);
}

.genre:hover {
  background: rgba(255, 255, 255, 0.32);
  color: var(--fg-color);
}

[data-theme='light'] .genre {
  background: rgba(0, 0, 0, 0.16);
}

[data-theme='light'] .genre:hover {
  background: rgba(0, 0, 0, 0.32);
}

.label {
  align-self: start;
}

.cast {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap-2);
}

.director {
  color: var(--fg-color-1);
}

.person {
  color: var(--fg-color-1);
}

.ratingsGrid {
  display: grid;
  grid-template-columns: 32px max-content 1fr;
  grid-row-gap: var(--gap);
  grid-column-gap: var(--gap-1);
}

.rtRatingImage {
  width: 32px;
  height: 32px;
}

.rtRatingValue {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--fg-color);
}

.detail {
  color: var(--fg-color-1);
  font-size: 70%;
}

@media (max-width: 900px) {
  .ratingsGrid {
    grid-template-columns: 32px max-content 1fr;
  }

  .ratingLink {
    display: none;
  }

  .ratingsGrid > *:nth-child(3n-1) {
    grid-column: 2 / span 2;
  }
}

@media (max-width: 600px) {
  .movie {
    flex-direction: column;
  }
  .lhs {
    align-self: center;
  }
}
