.movies {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: calc(max(12px, min(48px, 4vmin)));
  gap: calc(max(12px, min(48px, 4vmin)));
}
